img {
  margin: auto;
  display: inline-block;
  height: 400px;
  width: 500px;
}
.bodyDetail {
  margin: auto;
  width: 800px;
}
.goBack {
  float: left;
  border-radius: 12px;
  border: 2px solid #4CAF50;
  cursor: pointer;

}
